@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.mat-form-field {
  width: 100%;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
} 